* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html {
    scroll-behaviour: smooth;
}

:root {
    --navbar-height: 59px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 70%;
    display: flex;
}

.nav-list li {
    list-style: none;
    padding: 2px 6px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
}

.background {
    background-blend-mode: darken;
    background-size: cover;
}

.firstsection {
    height: 30%;
}

.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: bold;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.image img {
    height: fit-content;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    margin-left: 10%;
    color: white;
}

.text-small {
    font-family: 'Sansita Swashed', cursive;
    font-size: 18px;
    text-align: center;
    color: white;
    margin-left: 10%;
}

#service {
    margin: 34px;
    display: flex;
}

#service .box {
    padding: 100px;
    margin: 3px 6px;
    border-radius: 28px;
}

#service .box img {
    margin-top: 10px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 200px;
}

#service .box p {

    font-family: sans-serif;
    text-align: center;
}

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    padding: 100px;
    margin: 3px 6px;
    border-radius: 28px;
}

#services .box img {
    margin-top: 10px;
    height: 150px;
    margin: auto;
    display: block;
    border-radius: 100px;
}

#services .box p {
    font-family: sans-serif;
    text-align: center;
}

.center {
    text-align: center;
}

.text-footer {
    text-align: center;
    padding: 10px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

.positiond {
    position: absolute;
    top: 35%;
    left: 30%;
}