.nav-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 0;
}

.nav-flex-row li {
    text-decoration: none;
    list-style-type: none;
    padding: 20px 15px;
}

.nav-flex-row li a {
    font-family: bold;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 300;
}

.menu__container {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.menu__content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: var(--container-color);
    border-radius: .5rem;
    box-shadow: 0 2px 4px white;
    padding: .75rem;
}

.menu__img {
    width: 100px;
    align-self: left;
    margin-bottom: var(--mb-2);
}

.menu__name,
.menu__preci {
    font-weight: var(--font-semi-bold);
    color: white;
}

.section-title {
    color: white;
}

.menu__name {
    font-size: 140%;
}

.menu__detail,
.menu__preci {
    font-size: var(--small-font-size);
}

.menu__detail {
    margin-bottom: var(--mb-1);
    color: white;
}

.positiond {
    position: absolute;
    top: 35%;
    left: 30%;
}